.container{
    margin: 140px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
    
    
}
.containetItemDetail{
    
    display: flex;
    align-content: center;
    place-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}

