.container{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
    
    
}

.product{
    width: 25%;
}
