.containerProduct{
    box-shadow: 0px 10px #f1efef;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgb(255, 242, 251);
    
}
.containerPrice{
    /* border: 4px solid rgb(102, 170, 233); */
    
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(255, 242, 251);
    
}
.tituloProducto{
    font-size: 26px;
    color: rgb(102, 170, 233);
    
}
img{
    width: 100%;
    
    
}
