.headCartPage{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px;
    
}
.tituloCartPageProducto{
    width: 30%;
}
.imgProductCartPage{
    width: 15%;
    
}
.contenedorTituloProducto{
    display: flex;
    align-items: center;
    width: 15%;
}
.contendorProductCartPage{
    display: flex;
    width: 90%;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}
.footerCartPage{
    display: flex;
    justify-content: center;
}
