.containerTratamientos{
    display: flex;
    justify-content: left;
    color: rgb(102, 170, 233);
    
}
.tituloTratamiento{
    font-size: 25px;
}
.containerCategorySelector{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-content: center;
    /* width: 50%; */
    justify-content: left;
    color: rgb(102, 170, 233);
    
    
}

.aCeleste {
    text-decoration: none;
    color: rgb(102, 170, 233);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.containerHomer{
    display: flex;

}
.containerCategorys{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    
    
}
.borde{
    background-color: white;
    border: 2px solid ;
    border-color: rgb(102, 170, 233) ;
}