.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    padding: 25px;
    
}
.tituloFormDatos{
    padding: 25px;
    font-weight: bold;
    color: rgb(102, 170, 233);
}
.containerModal{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5%;
}
label{
    font-weight: bold;
    color: rgb(102, 170, 233);
}
input{

}