.contenedorHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    box-shadow: 1px 5px 15px #81818129;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    place-items: right;
    margin-right: -65px;

    
   
    
  }
  .containerMenu{
    display: flex;
    justify-content: right;
  }
  .aBlanco {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.aBlanco2 {
  text-decoration: none;
  color: rgb(102, 170, 233);
  font-size: 17px;
  font-weight: bold;
}
.aBlanco2:hover{
  color: rgb(149, 192, 233);
}
  
  ul {
    
    list-style-type: none;
    
  }
  li{
    margin-left: 5px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .logo{
    width: 100px;
    margin-left: 10px;
  }
  .cartContainer{
    width: 10px;
  }
  .buttonNav{
    color: rgb(102, 170, 233);;
  }
  .basic-menu{
    background-color: black;
  }