.contenedorHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
  }
  .navbar{
    display: flex;
    place-items: right;
    margin-right:-120px ;
   
    
  }
  .aBlanco {
    text-decoration: none;
    color: white;
}
  
  ul {
    
    list-style-type: none;
    
  }
  li{
    margin: 5px;
  }
  
  .logo{
    width: 100px;
    margin-left: 10px;
  }