.contenedorHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 242, 251);
  }
  .navbar{
    display: flex;
    place-items: right;
    margin-right:-120px ;
   
    
  }
  .buttonNav{
    background-color: rgb(102, 170, 233);
  }
  
  ul {
    
    list-style-type: none;
    
  }
  li{
    margin: 5px;
  }
  
  .logo{
    width: 100px;
    margin-left: 10px;
  }