.containerItemCount{
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    
}
.buttonMas{
    
    height: 20px ;
}
.cantidad{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addCart{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.buttonAddToCart{
    margin-bottom: 10px ;
    
}